<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778908630347-a2t89c1uhdubr4hlp185tjq77nuambs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778908630347-a2t89c1uhdubr4hlp185tjq77nuambs1</string>
	<key>API_KEY</key>
	<string>AIzaSyDM7SvTwdANFcImT_IvfRxq1NV1u__NAiA</string>
	<key>GCM_SENDER_ID</key>
	<string>778908630347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eamonApp</string>
	<key>PROJECT_ID</key>
	<string>jobapp-30727</string>
	<key>STORAGE_BUCKET</key>
	<string>jobapp-30727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778908630347:ios:6508007ec0998444467cce</string>
</dict>
</plist>